td{
	width: 70px;
	height: 70px;
}

.noir {
	background-color:gray;
}

.blanc {
	background-color:white;
}
.select{
	background-color: green;
}
.error{
	background-color: red;
}

.possible{
	background-color: blue;
}

.bouton a {
	display:block;
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	background:url(images/boutonnoir.png) no-repeat;
	color:white;
	text-decoration:none;
	position: absolute;
	margin-top: 53%;
}
.bouton a:hover {
	background:url(images/boutonnoir2.png) no-repeat;
}

body{
	background: url(images/nature.jpg) no-repeat;
}

.plat{
	position: absolute;
}

.cadre p{
	display:block;
	width:400px;
	height: 220px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	background:url(images/encad.jpg) no-repeat;
	color:black;
	text-decoration:none;
	position: absolute;
	margin-left: 125%;
	margin-top: 35%;
	font-size: xx-large;
}